src/main/mule/loanNameService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="createLoanNameFlow" doc:id="91fa36e5-8388-4131-ab45-8c1a4789182b" initialState="started">
		<set-variable value="#[attributes.headers.'processType']" doc:name="SetProcessTypeVar" doc:id="5b30cbee-2036-41c9-a8c2-728b17f96316" variableName="loanNameProcessType"/>
		<set-variable value='#["Entity"]' doc:name="SetTypeVar" doc:id="2d87b5c5-0f75-4250-8611-f165301170c3" variableName="TypeValue"/>
		<choice doc:name="CheckWhetherRegularProcessOrReProcess" doc:id="890866a9-bc1d-4f28-930f-dd6f1f1f8cae" >
			<when expression="#[vars.loanNameProcessType == 'reprocess']">
				<foreach doc:name="For Each" doc:id="bef82f5c-195f-43cf-abd8-2f677286d4da" >
					<ee:transform doc:name="SetLoanNameTrackingVar" doc:id="bbc569cc-680d-4aa9-8d78-003d22cd5337">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="loanNameTrackingVars"><![CDATA[%dw 2.0
output application/java
---
{
	nCinoLoanId: payload.LLC_BI__Loan__c,
	borrowerType: payload.LLC_BI__Borrower_Type__c,
	episysLoanId: vars.NextLoanID,
	accountNumber : vars.AccountNumber
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<try doc:name="Try" doc:id="16963860-9a23-493a-9ede-3f3f18f49f14" >
						<flow-ref doc:name="JSON:::Reprocess:::InvokeLoanNameSFResponseTransformationFlow" doc:id="ddede916-0523-4ab8-9273-3bf17843ae5a" name="LoanNameSFResponseTransformationFlow" />
						<flow-ref doc:name="MakeCallToInvokeLoanNameFlow" doc:id="886065c2-1c26-40de-8596-0ebe3f815913" name="InvokeLoanNameFlow" />
						<ee:transform doc:name="CollectForEachResults" doc:id="4a0c6952-b386-44d1-a1a9-2bb799bd445b">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6c61dbf5-4ef1-4436-b9a7-49fa2a1a3e7d">
								<ee:transform doc:name="CollectLoanNameResults" doc:id="d5581bb7-ea47-4037-a756-14c255dfe392">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ vars.loanNameErrors]]></ee:set-variable>
									
</ee:variables>
								</ee:transform>
				</on-error-continue>
			</error-handler>
					</try>
				
</foreach>
			
</when>
			<otherwise >
				<flow-ref doc:name="InvokeSalesforceServicesFlowToGetDataFromSFObjects" doc:id="2aa91957-7902-4bcb-a9ce-0bf808784324" name="RetrieveLoanNameDataFromSF" />
				<choice doc:name="CheckLoanNameRecordSizeFromSalesforce" doc:id="be4a6211-3273-4fbc-b82e-5d6872f41fbd">
			<when expression="#[sizeOf(payload)&gt;0]">
						<foreach doc:name="For Each" doc:id="09d8fe3f-40bc-41ab-92c1-b0dd42108c55">
							<ee:transform doc:name="SetLoanNameVarsForTracking" doc:id="3ce88263-0afa-4f8a-8ec5-cd5f7e1d0e41">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="loanNameTrackingVars"><![CDATA[%dw 2.0
output application/java
---
{
	nCinoLoanId: payload.LLC_BI__Loan__c,
	borrowerType: payload.LLC_BI__Borrower_Type__c,
	episysLoanId: vars.NextLoanID,
	accountNumber : vars.AccountNumber
}]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<try doc:name="Try" doc:id="09e35ebd-6feb-4f85-be37-5a622c1e700a" >
								<flow-ref doc:name="InvokeLoanNameSFResponseTransformationFlow" doc:id="06c9c8ea-9d62-4f84-938c-3d42e3270501" name="LoanNameSFResponseTransformationFlow" />
								<flow-ref doc:name="MakeCallToInvokeLoanNameFlow" doc:id="ee816e9e-3656-4c74-9b10-40da40f71912" name="InvokeLoanNameFlow" />
								<ee:transform doc:name="CollectForEachResults" doc:id="8dcf3aaa-77c1-4a86-aec2-ef835512bc2c" >
									<ee:message >
									</ee:message>
									<ee:variables >
										<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ payload]]></ee:set-variable>
									</ee:variables>
								</ee:transform>
								<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fe401154-1bc0-47bc-a60b-8560c26fb45e">
					<ee:transform doc:name="SetErrorVars" doc:id="db969ca6-1351-49ab-8e28-e65a32ee4886">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="loanNameErrors"><![CDATA[%dw 2.0
output application/json
---
[{
	CreatedBy : "Mulesoft",
	CreatedByDate : now() as Date {format: 'yyyy-MM-dd'},
	nCinoLoanId__e: vars.salesforceloanid default null,
	nCinoApplicationId__c  : null,
	MCU_Status_Message__e : {
		
		Status: "Failure",
		TransactionType: "CreateLoanNameService",
		"TypeValue": vars.TypeValue default null,
	    uuid: vars.uuid,
	    ErrorCause : if (!isEmpty(vars.strErrorStep) and vars.strErrorStep == "handledErrors") "ValidationError" else if (!isEmpty(error.cause.message) and (sizeOf(error.cause.message) > 100)) trim(error.cause.message[0 to 100]) else error.cause.message default null,
	    ErrorDescription: if (!isEmpty(vars.strErrorStep) and vars.strErrorStep == "handledErrors") payload.strDescription else if (!isEmpty(error.description) and (sizeOf(error.description) > 100)) trim(error.description[0 to 100]) else error.description default null,
	    ErrorStep: "CreateLoanNameRecordInEpysis",
	    NCinoLoanId: vars.loanNameTrackingVars.nCinoLoanId default null,
	    BorrowerType: vars.loanNameTrackingVars.borrowerType default null,
	    EpisysLoanId: vars.loanNameTrackingVars.episysLoanId default null,
	    AccountNumber : vars.loanNameTrackingVars.accountNumber default null,
	    SalesforceId : vars.loanNameTrackingVars.SalesforceId default null
		
	}
	
	
}]]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<ee:transform doc:name="CollectLoanNameResults" doc:id="2a15dc5e-bec3-44b7-9112-007da030046a" >
											<ee:message >
											</ee:message>
											<ee:variables >
												<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ vars.loanNameErrors]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
				</on-error-continue>
			</error-handler>
							</try>
				
</foreach>
			

</when>
					<otherwise>
				<logger level="INFO" doc:name="NoLoanNameRecordsToProcess-logToSplunkAndProceedFurther" doc:id="6a7e892e-e019-4181-8b8c-f1167d60eafd" />
						<flow-ref doc:name="step4::InvokeCreateLoanTrackingFlowAfterLoanRecordProcess" doc:id="acbd74d9-e08b-41aa-ba20-52c3ff179b63" name="createLoanTrackingFlow"/>
			</otherwise>
		
</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="InvokeLoanNameFlow" doc:id="5c325561-de72-4b0b-b6a7-a07eb11eeed4">
		<ee:transform doc:name="Transform Message" doc:id="52160934-63f8-46f0-a302-fea13e76ffbc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ParamArray" ><![CDATA[%dw 2.0
output application/json
---
{
    'AddressFull': payload.CreateLoanNameRecord.Request.AddressFull default '',   
    'AddrExpDate': payload.CreateLoanNameRecord.Request.AddrExpDatee,
    'AddressType': payload.CreateLoanNameRecord.Request.AddressType default 0,
    'AltEmail': payload.CreateLoanNameRecord.Request.AltEmail default '',
    'BirthDate': payload.CreateLoanNameRecord.Request.BirthDate,
    'City': payload.CreateLoanNameRecord.Request.City default '',
    'Country': payload.CreateLoanNameRecord.Request.Country default '',
    'CountryCode': payload.CreateLoanNameRecord.Request.CountryCode default '',
    'CtrExempt': payload.CreateLoanNameRecord.Request.CtrExempt default 0,
    'CurrGrossMonthPay': payload.CreateLoanNameRecord.Request.CurrGrossMonthPay default 0.00,
    'CurrNetMonthPay': payload.CreateLoanNameRecord.Request.CurrNetMonthPay default 0.00,
    'DbaExtendedName': payload.CreateLoanNameRecord.Request.DbaExtendedName default '',
    'DbaFirst': payload.CreateLoanNameRecord.Request.DbaFirst default '',
    'DbaLast': payload.CreateLoanNameRecord.Request.DbaLast default '',
    'DbaMiddle': payload.CreateLoanNameRecord.Request.DbaMiddle default '',
    'DbaNameFormat': payload.CreateLoanNameRecord.Request.DbaNameFormat default 0,
    'DbaSuffix': payload.CreateLoanNameRecord.Request.DbaSuffix default '',
    'DbaTitle': payload.CreateLoanNameRecord.Request.DbaTitle default '',
    'DeathDate': payload.CreateLoanNameRecord.Request.DeathDate,
    'EffectiveDate': payload.CreateLoanNameRecord.Request.EffectiveDate,
    'Email': payload.CreateLoanNameRecord.Request.Email default '',
    'EmployerName': payload.CreateLoanNameRecord.Request.EmployerName default '',
    'ExpirationDate': payload.CreateLoanNameRecord.Request.ExpirationDate,
    'ExtendedName': payload.CreateLoanNameRecord.Request.ExtendedName default '',
    'ExtraAddress': payload.CreateLoanNameRecord.Request.ExtraAddress default '',
    'ExtraInfo': payload.CreateLoanNameRecord.Request.ExtraInfo default '',    
    'First': payload.CreateLoanNameRecord.Request.First default '',
    'ForeignTin': payload.CreateLoanNameRecord.Request.ForeignTin default '',
    'FormW8OnFile': payload.CreateLoanNameRecord.Request.FormW8OnFile default 0,
    'HomePhone': payload.CreateLoanNameRecord.Request.HomePhone default '',
    'IdentDocFlag1': payload.CreateLoanNameRecord.Request.IdentDocFlag1 default 0,
    'IdentDocFlag2': payload.CreateLoanNameRecord.Request.IdentDocFlag2 default 0,
    'IdentDocFlag3': payload.CreateLoanNameRecord.Request.IdentDocFlag3 default 0,
    'IdentIdDescription1': payload.CreateLoanNameRecord.Request.IdentIdDescription1 default '',
    'IdentIdDescription2': payload.CreateLoanNameRecord.Request.IdentIdDescription2 default '',
    'IdentIdDescription3': payload.CreateLoanNameRecord.Request.IdentIdDescription3 default '',
    'IdentIdExpireDate1': payload.CreateLoanNameRecord.Request.IdentIdExpireDate1,
    'IdentIdExpireDate2': payload.CreateLoanNameRecord.Request.IdentIdExpireDate2,
    'IdentIdExpireDate3': payload.CreateLoanNameRecord.Request.IdentIdExpireDate3,
    'IdentIdIssueDate1': payload.CreateLoanNameRecord.Request.IdentIdIssueDate1,
    'IdentIdIssueDate2': payload.CreateLoanNameRecord.Request.IdentIdIssueDate2,
    'IdentIdIssueDate3': payload.CreateLoanNameRecord.Request.IdentIdIssueDate3,
    'IdentIdNumber1': payload.CreateLoanNameRecord.Request.IdentIdNumber1 default '',
    'IdentIdNumber2': payload.CreateLoanNameRecord.Request.IdentIdNumber2 default '',
    'IdentIdNumber3': payload.CreateLoanNameRecord.Request.IdentIdNumber3 default '',
    'IdentIdType1': payload.CreateLoanNameRecord.Request.IdentIdType1 default 0,
    'IdentIdType2': payload.CreateLoanNameRecord.Request.IdentIdType2 default 0,
    'IdentIdType3': payload.CreateLoanNameRecord.Request.IdentIdType3 default 0,
    'IdentIdVerifyDate1': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate1,
    'IdentIdVerifyDate2': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate2,
    'IdentIdVerifyDate3': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate3,		    
    'IrsCountryCode': payload.CreateLoanNameRecord.Request.IrsCountryCode default '',    
    'Last': payload.CreateLoanNameRecord.Request.Last,
    'LastAddrVerifDate': payload.CreateLoanNameRecord.Request.LastAddrVerifDate,
    'MailOverride': payload.CreateLoanNameRecord.Request.MailOverride default 0,    
    'Middle': payload.CreateLoanNameRecord.Request.Middle default '',
    'MobilePhone': payload.CreateLoanNameRecord.Request.MobilePhone default '',
    'MothersMaidenName': payload.CreateLoanNameRecord.Request.MothersMaidenName default '',  
    'NameFormat': payload.CreateLoanNameRecord.Request.NameFormat default '',
    'Occupation': payload.CreateLoanNameRecord.Request.Occupation default '',
    'PagerNumber': payload.CreateLoanNameRecord.Request.PagerNumber default '',
    'PreferredContactMethod': payload.CreateLoanNameRecord.Request.PreferredContactMethod default 0,
    'Restrict': payload.CreateLoanNameRecord.Request.Restrict default 0,
    'Sex': payload.CreateLoanNameRecord.Request.Sex default '',      
    'Ssn': payload.CreateLoanNameRecord.Request.Ssn default '',
    'SsnCertification': payload.CreateLoanNameRecord.Request.SsnCertification default 1,
    'SsnOverride': payload.CreateLoanNameRecord.Request.SsnOverride default 0,
    'SsnType': payload.CreateLoanNameRecord.Request.SsnType default 0,
    'State': payload.CreateLoanNameRecord.Request.State default '',
    'Street': payload.CreateLoanNameRecord.Request.Street default '',
    'SubType': payload.CreateLoanNameRecord.Request.SubType default '',
    'Suffix': payload.CreateLoanNameRecord.Request.Suffix default '',
    'Title': payload.CreateLoanNameRecord.Request.Title default '',
    'Type': payload.CreateLoanNameRecord.Request.Type default 1,
    'UsPersonFlag': payload.CreateLoanNameRecord.Request.UsPersonFlag default 1,
    'UserAmount1': payload.CreateLoanNameRecord.Request.UserAmount1 default 0.00,
    'UserAmount2': payload.CreateLoanNameRecord.Request.UserAmount2 default 0.00,
    'UserChar1': payload.CreateLoanNameRecord.Request.UserChar1 default '',
    'UserChar2': payload.CreateLoanNameRecord.Request.UserChar2 default '',
    'UserChar3': payload.CreateLoanNameRecord.Request.UserChar3 default '',
    'UserChar4': payload.CreateLoanNameRecord.Request.UserChar4 default '',
    'UserDate1': payload.CreateLoanNameRecord.Request.UserDate1,
    'UserDate2': payload.CreateLoanNameRecord.Request.UserDate2,	
    'W8ExpirationDate': payload.CreateLoanNameRecord.Request.W8ExpirationDate,
    'WorkPhone': payload.CreateLoanNameRecord.Request.WorkPhone default '',
    'WorkPhoneExtension': payload.CreateLoanNameRecord.Request.WorkPhoneExtension default '',
    'ZipCode': payload.CreateLoanNameRecord.Request.ZipCode default '',
    'LoanId': payload.CreateLoanNameRecord.Request.LoanId,
    'AccountNumber' : payload.CreateLoanNameRecord.Request.AccountNumber

}]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform doc:name="SetParamArrayVar" doc:id="86713621-a175-42d8-a53a-08e2ff0c9459" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ParamArray" ><![CDATA[%dw 2.0
output application/json
---
{
	'AddressFull': payload.CreateLoanNameRecord.Request.AddressFull default '',
	'AddrExpDate': payload.CreateLoanNameRecord.Request.AddrExpDatee,
	'AddressType': payload.CreateLoanNameRecord.Request.AddressType default 0,
	'AltEmail': if(payload.CreateLoanNameRecord.Request.AltEmail == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.AltEmail) > 40) (payload.CreateLoanNameRecord.Request.AltEmail[0 to 39]) else payload.CreateLoanNameRecord.Request.AltEmail default '',
	'BirthDate': payload.CreateLoanNameRecord.Request.BirthDate,
	'City': if(payload.CreateLoanNameRecord.Request.City == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.City) > 40) (payload.CreateLoanNameRecord.Request.City[0 to 39]) else payload.CreateLoanNameRecord.Request.City default '',	
	'Country': if(payload.CreateLoanNameRecord.Request.Country == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Country) > 20) (payload.CreateLoanNameRecord.Request.Country[0 to 19]) else payload.CreateLoanNameRecord.Request.Country default '',
	'CountryCode': if(payload.CreateLoanNameRecord.Request.CountryCode == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.CountryCode) > 2) (payload.CreateLoanNameRecord.Request.CountryCode[0 to 1]) else payload.CreateLoanNameRecord.Request.CountryCode default '',
	'CtrExempt': payload.CreateLoanNameRecord.Request.CtrExempt default 0,
	'CurrGrossMonthPay': payload.CreateLoanNameRecord.Request.CurrGrossMonthPay default 0.00,
	'CurrNetMonthPay': payload.CreateLoanNameRecord.Request.CurrNetMonthPay default 0.00,
	'DbaExtendedName': if(payload.CreateLoanNameRecord.Request.DbaExtendedName == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaExtendedName) > 40) (payload.CreateLoanNameRecord.Request.DbaExtendedName[0 to 39]) else payload.CreateLoanNameRecord.Request.DbaExtendedName default '',
	'DbaFirst': if(payload.CreateLoanNameRecord.Request.DbaFirst == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaFirst) > 20) (payload.CreateLoanNameRecord.Request.DbaFirst[0 to 19]) else payload.CreateLoanNameRecord.Request.DbaFirst default '',
	'DbaLast': if(payload.CreateLoanNameRecord.Request.DbaLast == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaLast) > 40) (payload.CreateLoanNameRecord.Request.DbaLast[0 to 39]) else payload.CreateLoanNameRecord.Request.DbaLast default '',
	'DbaMiddle': if(payload.CreateLoanNameRecord.Request.DbaMiddle == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaMiddle) > 10) (payload.CreateLoanNameRecord.Request.DbaMiddle[0 to 9]) else payload.CreateLoanNameRecord.Request.DbaMiddle default '',
	'DbaNameFormat': payload.CreateLoanNameRecord.Request.DbaNameFormat default 0,
	'DbaSuffix': if(payload.CreateLoanNameRecord.Request.DbaSuffix == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaSuffix) > 4) (payload.CreateLoanNameRecord.Request.DbaSuffix[0 to 3]) else payload.CreateLoanNameRecord.Request.DbaSuffix default '',
	'DbaTitle': if(payload.CreateLoanNameRecord.Request.DbaTitle == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.DbaTitle) > 8) (payload.CreateLoanNameRecord.Request.DbaTitle[0 to 7]) else payload.CreateLoanNameRecord.Request.DbaTitle default '',
	'DeathDate': payload.CreateLoanNameRecord.Request.DeathDate,
	'EffectiveDate': payload.CreateLoanNameRecord.Request.EffectiveDate,
	'Email': if(payload.CreateLoanNameRecord.Request.Email == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Email) > 40) (payload.CreateLoanNameRecord.Request.Email[0 to 39]) else payload.CreateLoanNameRecord.Request.Email default '',
	'EmployerName': if(payload.CreateLoanNameRecord.Request.EmployerName == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.EmployerName) > 40) (payload.CreateLoanNameRecord.Request.EmployerName[0 to 39]) else payload.CreateLoanNameRecord.Request.EmployerName default '',
	'ExpirationDate': payload.CreateLoanNameRecord.Request.ExpirationDate,
	'ExtendedName': if(payload.CreateLoanNameRecord.Request.ExtendedName == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.ExtendedName) > 40) (payload.CreateLoanNameRecord.Request.ExtendedName[0 to 39]) else payload.CreateLoanNameRecord.Request.ExtendedName default '',
	'ExtraAddress': if(payload.CreateLoanNameRecord.Request.ExtraAddress == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.ExtraAddress) > 40) (payload.CreateLoanNameRecord.Request.ExtraAddress[0 to 39]) else payload.CreateLoanNameRecord.Request.ExtraAddress default '',
	'ExtraInfo': if(payload.CreateLoanNameRecord.Request.ExtraInfo == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.ExtraInfo) > 40) (payload.CreateLoanNameRecord.Request.ExtraInfo[0 to 39]) else payload.CreateLoanNameRecord.Request.ExtraInfo default '',
	'First': if(payload.CreateLoanNameRecord.Request.First == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.First) > 20) (payload.CreateLoanNameRecord.Request.First[0 to 19]) else payload.CreateLoanNameRecord.Request.First default '',
	'ForeignTin': if(payload.CreateLoanNameRecord.Request.ForeignTin == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.ForeignTin) > 22) (payload.CreateLoanNameRecord.Request.ForeignTin[0 to 21]) else payload.CreateLoanNameRecord.Request.ForeignTin default '',
	'FormW8OnFile': payload.CreateLoanNameRecord.Request.FormW8OnFile default 0,
	'HomePhone': payload.CreateLoanNameRecord.Request.HomePhone default '',
	'IdentDocFlag1': payload.CreateLoanNameRecord.Request.IdentDocFlag1 default 0,
	'IdentDocFlag2': payload.CreateLoanNameRecord.Request.IdentDocFlag2 default 0,
	'IdentDocFlag3': payload.CreateLoanNameRecord.Request.IdentDocFlag3 default 0,
	'IdentIdDescription1': if(payload.CreateLoanNameRecord.Request.IdentIdDescription1 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.IdentIdDescription1) > 40) (payload.CreateLoanNameRecord.Request.IdentIdDescription1[0 to 39]) else payload.CreateLoanNameRecord.Request.IdentIdDescription1 default '',
	'IdentIdDescription2': if(payload.CreateLoanNameRecord.Request.IdentIdDescription2 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.IdentIdDescription2) > 40) (payload.CreateLoanNameRecord.Request.IdentIdDescription2[0 to 39]) else payload.CreateLoanNameRecord.Request.IdentIdDescription2 default '',
	'IdentIdDescription3': if(payload.CreateLoanNameRecord.Request.IdentIdDescription3 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.IdentIdDescription3) > 40) (payload.CreateLoanNameRecord.Request.IdentIdDescription3[0 to 39]) else payload.CreateLoanNameRecord.Request.IdentIdDescription3 default '',
	'IdentIdExpireDate1': payload.CreateLoanNameRecord.Request.IdentIdExpireDate1,
	'IdentIdExpireDate2': payload.CreateLoanNameRecord.Request.IdentIdExpireDate2,
	'IdentIdExpireDate3': payload.CreateLoanNameRecord.Request.IdentIdExpireDate3,
	'IdentIdIssueDate1': payload.CreateLoanNameRecord.Request.IdentIdIssueDate1,
	'IdentIdIssueDate2': payload.CreateLoanNameRecord.Request.IdentIdIssueDate2,
	'IdentIdIssueDate3': payload.CreateLoanNameRecord.Request.IdentIdIssueDate3,
	'IdentIdNumber1': payload.CreateLoanNameRecord.Request.IdentIdNumber1 default '',
	'IdentIdNumber2': payload.CreateLoanNameRecord.Request.IdentIdNumber2 default '',
	'IdentIdNumber3': payload.CreateLoanNameRecord.Request.IdentIdNumber3 default '',
	'IdentIdType1': payload.CreateLoanNameRecord.Request.IdentIdType1 default 0,
	'IdentIdType2': payload.CreateLoanNameRecord.Request.IdentIdType2 default 0,
	'IdentIdType3': payload.CreateLoanNameRecord.Request.IdentIdType3 default 0,
	'IdentIdVerifyDate1': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate1,
	'IdentIdVerifyDate2': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate2,
	'IdentIdVerifyDate3': payload.CreateLoanNameRecord.Request.IdentIdVerifyDate3,
	'IrsCountryCode': if(payload.CreateLoanNameRecord.Request.IrsCountryCode == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.IrsCountryCode) > 2) (payload.CreateLoanNameRecord.Request.IrsCountryCode[0 to 1]) else payload.CreateLoanNameRecord.Request.IrsCountryCode default '',
	'Last': if(payload.CreateLoanNameRecord.Request.Last == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Last) > 40) (payload.CreateLoanNameRecord.Request.Last[0 to 39]) else payload.CreateLoanNameRecord.Request.Last default '',
	'LastAddrVerifDate': payload.CreateLoanNameRecord.Request.LastAddrVerifDate,
	'MailOverride': payload.CreateLoanNameRecord.Request.MailOverride default 0,
	'Middle': if(payload.CreateLoanNameRecord.Request.Middle == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Middle) > 10) (payload.CreateLoanNameRecord.Request.Middle[0 to 9]) else payload.CreateLoanNameRecord.Request.Middle default '',
	'MobilePhone': payload.CreateLoanNameRecord.Request.MobilePhone default '',
	'MothersMaidenName': if(payload.CreateLoanNameRecord.Request.MothersMaidenName == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.MothersMaidenName) > 20) (payload.CreateLoanNameRecord.Request.MothersMaidenName[0 to 19]) else payload.CreateLoanNameRecord.Request.MothersMaidenName default '',
	'NameFormat': payload.CreateLoanNameRecord.Request.NameFormat default '',
	'Occupation': if(payload.CreateLoanNameRecord.Request.Occupation == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Occupation) > 40) (payload.CreateLoanNameRecord.Request.Occupation[0 to 39]) else payload.CreateLoanNameRecord.Request.Occupation default '',
	'PagerNumber': payload.CreateLoanNameRecord.Request.PagerNumber default '',
	'PreferredContactMethod': payload.CreateLoanNameRecord.Request.PreferredContactMethod default 0,
	'Restrict': payload.CreateLoanNameRecord.Request.Restrict default 0,
	'Sex': payload.CreateLoanNameRecord.Request.Sex[0] default '',
	'Ssn': if(payload.CreateLoanNameRecord.Request.Ssn == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Ssn) > 9) (payload.CreateLoanNameRecord.Request.Ssn[0 to 8]) else payload.CreateLoanNameRecord.Request.Ssn default '',
	'SsnCertification': payload.CreateLoanNameRecord.Request.SsnCertification default 1,
	'SsnOverride': payload.CreateLoanNameRecord.Request.SsnOverride default 0,
	'SsnType': payload.CreateLoanNameRecord.Request.SsnType default 0,
	'State': if(payload.CreateLoanNameRecord.Request.State == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.State) > 10) (payload.CreateLoanNameRecord.Request.State[0 to 9]) else payload.CreateLoanNameRecord.Request.State default '',
	'Street': if(payload.CreateLoanNameRecord.Request.Street == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Street) > 40) (payload.CreateLoanNameRecord.Request.Street[0 to 39]) else payload.CreateLoanNameRecord.Request.Street default '',
	'SubType': payload.CreateLoanNameRecord.Request.SubType default '',
	'Suffix': if(payload.CreateLoanNameRecord.Request.Suffix == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Suffix) > 4) (payload.CreateLoanNameRecord.Request.Suffix[0 to 3]) else payload.CreateLoanNameRecord.Request.Suffix default '',
	'Title': if(payload.CreateLoanNameRecord.Request.Title == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.Title) > 8) (payload.CreateLoanNameRecord.Request.Title[0 to 7]) else payload.CreateLoanNameRecord.Request.Title default '',
	'Type': payload.CreateLoanNameRecord.Request.Type default 1,
	'UsPersonFlag': payload.CreateLoanNameRecord.Request.UsPersonFlag default 1,
	'UserAmount1': payload.CreateLoanNameRecord.Request.UserAmount1 default 0.00,
	'UserAmount2': payload.CreateLoanNameRecord.Request.UserAmount2 default 0.00,
	'UserChar1': if(payload.CreateLoanNameRecord.Request.UserChar1 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.UserChar1) > 40) (payload.CreateLoanNameRecord.Request.UserChar1[0 to 39]) else payload.CreateLoanNameRecord.Request.UserChar1 default '',
	'UserChar2': if(payload.CreateLoanNameRecord.Request.UserChar2 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.UserChar2) > 40) (payload.CreateLoanNameRecord.Request.UserChar2[0 to 39]) else payload.CreateLoanNameRecord.Request.UserChar2 default '',
	'UserChar3': if(payload.CreateLoanNameRecord.Request.UserChar3 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.UserChar3) > 40) (payload.CreateLoanNameRecord.Request.UserChar3[0 to 39]) else payload.CreateLoanNameRecord.Request.UserChar3 default '',
	'UserChar4': if(payload.CreateLoanNameRecord.Request.UserChar4 == null) ('') else if(sizeOf(payload.CreateLoanNameRecord.Request.UserChar4) > 40) (payload.CreateLoanNameRecord.Request.UserChar4[0 to 39]) else payload.CreateLoanNameRecord.Request.UserChar4 default '',
	'UserDate1': payload.CreateLoanNameRecord.Request.UserDate1,
	'UserDate2': payload.CreateLoanNameRecord.Request.UserDate2,
	'W8ExpirationDate': payload.CreateLoanNameRecord.Request.W8ExpirationDate,
	'WorkPhone': payload.CreateLoanNameRecord.Request.WorkPhone default '',
	'WorkPhoneExtension': payload.CreateLoanNameRecord.Request.WorkPhoneExtension default '',
	'ZipCode': payload.CreateLoanNameRecord.Request.ZipCode default '',
	'LoanId': payload.CreateLoanNameRecord.Request.LoanId,
	'AccountNumber' : payload.CreateLoanNameRecord.Request.AccountNumber
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="AddressSplittingFlow" doc:id="af9ad086-b380-4c19-9818-9df2a5942217" name="AddressSplittingFlow" />
		<flow-ref doc:name="Validation" doc:id="6bc91265-05ce-4f7f-8640-02bd251292bd" name="validationsFlow" />
		<ee:transform doc:name="Transform Message" doc:id="9f21e679-e4be-418c-b9ca-ef321d3cdbae">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="0a73a65a-4e8f-4db6-b7d0-0a1e747dae5a">
			<when expression="#[payload.intErrorCode == '500']">
				<set-variable value='#["Occurred after validations"]' doc:name="Set Variable" doc:id="c1a42efd-8ee0-4ba1-bf72-3fceeed0eea2" variableName="Validation Error" />
				<set-payload value="#[strDescription: payload.strReturnMessage]" doc:name="ErrorPayload" doc:id="247bdb84-382b-4026-9cba-6d0236869c4d" />
				<raise-error doc:name="Raise error" doc:id="7f5fe700-3ca4-44ac-b05f-e698075db11c" type="ANY" />
			</when>
		</choice>
		<ee:transform doc:name="TransformPayloadToCreateLoanNameXML" doc:id="369d410a-2ae4-4e99-a461-96258b463f66">
			<ee:message>
				<ee:set-payload resource="dwl/createloannameRequest.dwl" />
			
</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="CreateLoanNameRequest" doc:id="cad6240b-a1a7-4250-8de8-eb08bd17081d" config-ref="Epysis_HTTP_Request_configuration" path="${secure::http.path}" >
			<reconnect />
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="c545a10e-96a4-4dfa-b4d4-a311ae4a9837" />
		<flow-ref doc:name="MakeCallToValidateSoapResponseSubFlow" doc:id="b0c70ac5-31d8-4e25-9792-dd4ae5646677" name="validateSoapResponseSubFlow"/>
		<ee:transform doc:name="CreateSuccessfullLoanNameResults" doc:id="1f99aac5-2f3e-44f3-9ba0-52c80e98495d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
fun formatDate(localTime: DateTime) = localTime as String{format: "MM/dd/yyyy"}
fun lookupLoanId(code) = if (code < 100 ) (code[-2 to -1]) else if (code >= 100) (code[-3 to -1]) else ('')
---

[{
	CreatedBy : "Mulesoft",
	CreatedByDate : now() as Date {format: 'yyyy-MM-dd'},
	nCinoLoanId__e: vars.salesforceloanid default null,
	nCinoApplicationId__c  : null,
	MICRAccountNumber: 2 ++ lookupLoanId(vars.ParamArray.LoanId!) ++ vars.ParamArray.AccountNumber! default '',
    Key: "L-" ++ vars.ParamArray.AccountNumber!   ++ "-" ++ vars.ParamArray.LoanId! ++ "-" ++ formatDate(now() >> 'GMT-6' ) default '', 
	MCU_Status_Message__e : {
		
		Status: "Success",
		TransactionType: "CreateLoanNameService",
	    "TypeValue": vars.TypeValue default null,
	    uuid: vars.uuid,
	    ErrorCause : null,
	    ErrorType: null,
	    ErrorStep: null,
	    LoanOpenDate: formatDate(now() >> 'GMT-6' ),
        BorrowerType: vars.loanNameTrackingVars.borrowerType default null,
	    EpisysLoanId: vars.loanNameTrackingVars.episysLoanId default null,
	    AccountNumber : vars.loanNameTrackingVars.accountNumber default null,
	    SalesforceId : vars.loanNameTrackingVars.SalesforceId default null
	}
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="72f18d3f-0dbd-4a96-b797-1a97b5461915" message="#[payload]" />
	</flow>
</mule>
