src/main/mule/loanTrackingService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="createLoanTrackingFlow"
		doc:id="9422ff56-17aa-4997-a8f6-9ec8eda28807">
		<set-variable value="#[attributes.headers.'processType']"
			doc:name="SetProcessTypeVar"
			doc:id="6336786a-4396-406e-88dd-e7866e1d6481"
			variableName="loanNameProcessType" />
		<choice doc:name="CheckWhetherRegularProcessOrReProcess"
			doc:id="972d7598-c6e1-45ea-b9d9-90a92de02869">
			<when expression="#[vars.loanNameProcessType == 'reprocess']">
				<foreach doc:name="For Each"
					doc:id="a4c4a825-4438-4863-8c0c-8b65329fd052">
					<ee:transform doc:name="SetLoanNameTrackingVar"
						doc:id="325f8f81-5878-4877-a4f5-8f7a71525c91">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable
								variableName="loanNameTrackingVars"><![CDATA[%dw 2.0
output application/java
fun getcollateraltype(val) =
(
	if (val."type" as String == "LLC_BI__Collateral__c") val.Name else if (val."type" as String == "Disbursement__c") val.Disbursement_Method__c else if (val."type" as String == "ELA") "ELA" else null
)
---
{
	nCinoLoanId: payload.LLC_BI__Loan__c,
	CollateralType: if (!isEmpty(payload."type")) getcollateraltype(payload) else null default null ,
	episysLoanId: vars.NextLoanID,
	accountNumber : vars.AccountNumber
}]]></ee:set-variable>
							<ee:set-variable variableName="AccountNumber" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'AccountNumber']]></ee:set-variable>
							<ee:set-variable variableName="loanid" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'SalesforceLoanId']]></ee:set-variable>
						
</ee:variables>
					</ee:transform>
					<try doc:name="Try"
						doc:id="8c4bf420-8ed6-4cdd-9082-bc0e1de67884">
						<flow-ref
							doc:name="JSON:::Reprocess:::InvokeLoanTrackingSFResponseTransformationFlow"
							doc:id="09a16787-3110-4ad6-b8df-51c9a881728a"
							name="LoanTrackingSFResponseTransformationFlow" />
						<flow-ref doc:name="MakeCallToInvokeLoanTrackingServiceFlow"
							doc:id="35a2e225-8edd-4ad1-9a2f-25cbb59636c1"
							name="InvokeLoanTrackingServiceFlow" />
						<ee:transform doc:name="CollectForEachResults"
							doc:id="1f38d49e-343e-4642-a4d8-d100128fe353">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ payload]]></ee:set-variable>
							
</ee:variables>
						</ee:transform>
						<error-handler>
							<on-error-continue enableNotifications="true"
								logException="true" doc:name="On Error Continue"
								doc:id="554ca619-da04-4bc5-b6ce-a1e46544315b">
								<ee:transform doc:name="SetErrorVars"
									doc:id="6539e00c-bcb7-4119-a3a4-037045484a36">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable variableName="loanTrackingErrors" ><![CDATA[%dw 2.0
output application/json
---
[{
	Status: "Failure",
	TransactionType: "CreateLoanTrackingService",
	uuid: vars.uuid,
	ErrorCause : if (!isEmpty(error.cause.message) and (sizeOf(error.cause.message) > 100)) trim(error.cause.message[0 to 100]) else error.cause.message default null,
	ErrorDescription: if (!isEmpty(error.description) and (sizeOf(error.description) > 100)) trim(error.description[0 to 100]) else error.description default null,
	ErrorStep: "Reprocess::CreateLoanTrackingRecordInEpisys",
	NCinoLoanId: vars.loanNameTrackingVars.nCinoLoanId default null,
	BorrowerType: vars.loanNameTrackingVars.borrowerType default null,
	EpisysLoanId: vars.loanNameTrackingVars.episysLoanId default null,
	AccountNumber : vars.loanNameTrackingVars.accountNumber default null,
	SalesforceLoanId :  vars.loanNameTrackingVars.SalesforceLoanId default null
}]]]></ee:set-variable>
									
</ee:variables>
								</ee:transform>
								<ee:transform doc:name="CollectLoanTrackingResults"
									doc:id="a7513130-dc96-456d-b56b-5315e56f0b96">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ vars.loanTrackingErrors]]></ee:set-variable>
									
</ee:variables>
								</ee:transform>
							</on-error-continue>
						</error-handler>
					</try>

				</foreach>

			</when>
			<otherwise>
				<flow-ref doc:name="InvokeSalesforceServicesFlowToGetDataFromSFObjects" doc:id="37baeae8-e109-4555-897e-c1789cd1a206" name="RetrieveLoanTrackingDataFromSF" />
				<choice doc:name="CheckLoanNameRecordSizeFromSalesforce"
					doc:id="79da2e65-e640-42bc-96f9-c139000100a6">
					<when expression="#[sizeOf(payload)&gt;0]">
						<foreach doc:name="For Each"
							doc:id="605ecfde-44bb-498d-821f-158a127e8a3f">
							<ee:transform doc:name="SetLoanTrackingVars"
								doc:id="4bce8ebc-cc18-4513-9d16-4b000cddd205">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable
										variableName="loanNameTrackingVars"><![CDATA[%dw 2.0
output application/java
fun getcollateraltype(val) =
(
	if (val."type" as String == "LLC_BI__Collateral__c") val.Name else if (val."type" as String == "Disbursement__c") val.Disbursement_Method__c else if (val."type" as String == "ELA") "ELA" else null
)
---
{
	nCinoLoanId: payload.LLC_BI__Loan__c,
	CollateralType: if (!isEmpty(payload."type")) getcollateraltype(payload) else null default null ,
	episysLoanId: vars.NextLoanID,
	accountNumber : vars.AccountNumber,
	SalesforceId : payload.Id,
	TypeValue: payload."type"
}]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<try doc:name="Try"
								doc:id="f9e98948-07fa-4b2f-87e6-a0c442233458">
								<flow-ref
									doc:name="InvokeLoanTrackingSFResponseTransformationFlow"
									doc:id="9ddcbb16-502d-4fd0-b7a2-f785c122a233"
									name="LoanTrackingSFResponseTransformationFlow" />
								<flow-ref doc:name="MakeCallToInvokeLoanTrackingServiceFlow"
									doc:id="102e9e55-0c3d-42a6-b83a-2ef93cc6a6c1"
									name="InvokeLoanTrackingServiceFlow" />
								<ee:transform doc:name="CollectForEachResults"
									doc:id="b4385f9e-3861-46fb-b82f-26ba5b1141fd">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ payload]]></ee:set-variable>
									
</ee:variables>
								</ee:transform>
								<error-handler>
									<on-error-continue enableNotifications="true"
										logException="true" doc:name="On Error Continue"
										doc:id="8b1474ee-77bb-45cc-a788-acd73bd79120">
										<ee:transform doc:name="SetErrorVars"
											doc:id="28d6e521-6d0a-454f-a8d8-9eea55b29fee">
											<ee:message>
											</ee:message>
											<ee:variables>
												<ee:set-variable variableName="loanTrackingErrors" ><![CDATA[%dw 2.0
output application/json
---
[{
	CreatedBy : "Mulesoft",
	CreatedByDate : now() as Date {format: 'yyyy-MM-dd'},
	nCinoLoanId__e: vars.salesforceloanid,
	nCinoApplicationId__c : null,
	MCU_Status_Message__e : {
		
		Status: "Failure",
		TransactionType: "CreateLoanTrackingService",
		TypeValue: vars.loanNameTrackingVars.TypeValue,
		uuid: vars.uuid,
	    ErrorCause : if (!isEmpty(vars.strErrorStep) and vars.strErrorStep == "handledErrors") "ValidationError" else if (!isEmpty(error.cause.message) and (sizeOf(error.cause.message) > 100)) trim(error.cause.message[0 to 100]) else error.cause.message default null,
	    ErrorDescription: if (!isEmpty(vars.strErrorStep) and vars.strErrorStep == "handledErrors") payload.strDescription else if (!isEmpty(error.description) and (sizeOf(error.description) > 100)) trim(error.description[0 to 100]) else error.description default null,
	    ErrorStep: "CreateLoanTrackingRecordInEpisys",
	    CollateralType: vars.loanNameTrackingVars.CollateralType default null,
	    EpisysLoanId: vars.loanNameTrackingVars.episysLoanId default null,
	    AccountNumber : vars.loanNameTrackingVars.accountNumber default null,
	    SalesforceId : vars.loanNameTrackingVars.SalesforceId default null
		
	}
}]]]></ee:set-variable>
											
</ee:variables>
										</ee:transform>
										<ee:transform doc:name="CollectLoanTrackingResults" doc:id="cbd7a4df-404b-4559-9a9b-59990f29b06a" >
											<ee:message >
											</ee:message>
											<ee:variables >
												<ee:set-variable variableName="EndLoanResultsSet" ><![CDATA[vars.EndLoanResultsSet ++ vars.loanTrackingErrors]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
									</on-error-continue>
								</error-handler>
							</try>

						</foreach>


					</when>
					<otherwise>
						<logger level="INFO"
							doc:name="NoLoanNameRecordsToProcess-logToSplunkAndProceedFurther"
							doc:id="c3348a27-ec1f-439c-9787-770bf4990df1" />
						<flow-ref
							doc:name="step4::InvokeCreateLoanTrackingFlowAfterLoanRecordProcess"
							doc:id="bf9ebc59-cc8d-4189-8b8b-e601d8f319fb"
							name="createLoanTrackingFlow" />
					
</otherwise>

				</choice>
			
</otherwise>
		</choice>

	</flow>
	<flow name="InvokeLoanTrackingServiceFlow"
		doc:id="0979671f-2d80-4d48-ae03-f7d86b255cf6">
		<ee:transform doc:name="SetParamArrayVar"
			doc:id="d6548a01-68ce-41e8-83a5-1c6159c30a22">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ParamArray" ><![CDATA[%dw 2.0
output application/json
---
{
  'ExpireDate': payload.CreateLoanTracking.Request.ExpireDate,
  'Type': payload.CreateLoanTracking.Request.Type default '',
  'UserAmount1': payload.CreateLoanTracking.Request.UserAmount1 default 0,
  'UserAmount10': payload.CreateLoanTracking.Request.UserAmount10 default 0,
  'UserAmount11': payload.CreateLoanTracking.Request.UserAmount11 default 0,
  'UserAmount12': payload.CreateLoanTracking.Request.UserAmount12 default 0,
  'UserAmount13': payload.CreateLoanTracking.Request.UserAmount13 default 0,
  'UserAmount14': payload.CreateLoanTracking.Request.UserAmount14 default 0,
  'UserAmount15': payload.CreateLoanTracking.Request.UserAmount15 default 0,
  'UserAmount16': payload.CreateLoanTracking.Request.UserAmount16 default 0,
  'UserAmount17': payload.CreateLoanTracking.Request.UserAmount17 default 0,
  'UserAmount18': payload.CreateLoanTracking.Request.UserAmount18 default 0,
  'UserAmount19': payload.CreateLoanTracking.Request.UserAmount19 default 0,
  'UserAmount2': payload.CreateLoanTracking.Request.UserAmount2 default 0,
  'UserAmount20': payload.CreateLoanTracking.Request.UserAmount20 default 0,
  'UserAmount3': payload.CreateLoanTracking.Request.UserAmount3 default 0,
  'UserAmount4': payload.CreateLoanTracking.Request.UserAmount4 default 0,
  'UserAmount5': payload.CreateLoanTracking.Request.UserAmount5 default 0,
  'UserAmount6': payload.CreateLoanTracking.Request.UserAmount6 default 0,
  'UserAmount7': payload.CreateLoanTracking.Request.UserAmount7 default 0,
  'UserAmount8': payload.CreateLoanTracking.Request.UserAmount8 default 0,
  'UserAmount9': payload.CreateLoanTracking.Request.UserAmount9 default 0,
  
  'UserChar1': if(payload.CreateLoanTracking.Request.UserChar1 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar1) > 40) (payload.CreateLoanTracking.Request.UserChar1[0 to 39]) else payload.CreateLoanTracking.Request.UserChar1 default '',
  'UserChar10': if(payload.CreateLoanTracking.Request.UserChar10 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar10) > 40) (payload.CreateLoanTracking.Request.UserChar10[0 to 39]) else payload.CreateLoanTracking.Request.UserChar10 default '',
  'UserChar11': if(payload.CreateLoanTracking.Request.UserChar11 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar11) > 40) (payload.CreateLoanTracking.Request.UserChar11[0 to 39]) else payload.CreateLoanTracking.Request.UserChar11 default '',
  'UserChar12': if(payload.CreateLoanTracking.Request.UserChar12 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar12) > 40) (payload.CreateLoanTracking.Request.UserChar12[0 to 39]) else payload.CreateLoanTracking.Request.UserChar12 default '',
  'UserChar13': if(payload.CreateLoanTracking.Request.UserChar13 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar13) > 40) (payload.CreateLoanTracking.Request.UserChar13[0 to 39]) else payload.CreateLoanTracking.Request.UserChar13 default '',
  'UserChar14': if(payload.CreateLoanTracking.Request.UserChar14 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar14) > 40) (payload.CreateLoanTracking.Request.UserChar14[0 to 39]) else payload.CreateLoanTracking.Request.UserChar14 default '',
  'UserChar15': if(payload.CreateLoanTracking.Request.UserChar15 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar15) > 40) (payload.CreateLoanTracking.Request.UserChar15[0 to 39]) else payload.CreateLoanTracking.Request.UserChar15 default '',
  'UserChar16': if(payload.CreateLoanTracking.Request.UserChar16 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar16) > 40) (payload.CreateLoanTracking.Request.UserChar16[0 to 39]) else payload.CreateLoanTracking.Request.UserChar16 default '',
  'UserChar17': if(payload.CreateLoanTracking.Request.UserChar17 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar17) > 40) (payload.CreateLoanTracking.Request.UserChar17[0 to 39]) else payload.CreateLoanTracking.Request.UserChar17 default '',
  'UserChar18': if(payload.CreateLoanTracking.Request.UserChar18 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar18) > 40) (payload.CreateLoanTracking.Request.UserChar18[0 to 39]) else payload.CreateLoanTracking.Request.UserChar18 default '',
  'UserChar19': if(payload.CreateLoanTracking.Request.UserChar19 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar19) > 40) (payload.CreateLoanTracking.Request.UserChar19[0 to 39]) else payload.CreateLoanTracking.Request.UserChar19 default '',
  'UserChar2': if(payload.CreateLoanTracking.Request.UserChar2 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar2) > 40) (payload.CreateLoanTracking.Request.UserChar2[0 to 39]) else payload.CreateLoanTracking.Request.UserChar2 default '',
  'UserChar20': if(payload.CreateLoanTracking.Request.UserChar20 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar20) > 40) (payload.CreateLoanTracking.Request.UserChar20[0 to 39]) else payload.CreateLoanTracking.Request.UserChar20 default '',
  'UserChar3': if(payload.CreateLoanTracking.Request.UserChar3 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar3) > 40) (payload.CreateLoanTracking.Request.UserChar3[0 to 39]) else payload.CreateLoanTracking.Request.UserChar3 default '',
  'UserChar4': if(payload.CreateLoanTracking.Request.UserChar4 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar4) > 40) (payload.CreateLoanTracking.Request.UserChar4[0 to 39]) else payload.CreateLoanTracking.Request.UserChar4 default '',
  'UserChar5': if(payload.CreateLoanTracking.Request.UserChar5 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar5) > 40) (payload.CreateLoanTracking.Request.UserChar5[0 to 39]) else payload.CreateLoanTracking.Request.UserChar5 default '',
  'UserChar6': if(payload.CreateLoanTracking.Request.UserChar6 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar6) > 40) (payload.CreateLoanTracking.Request.UserChar6[0 to 39]) else payload.CreateLoanTracking.Request.UserChar6 default '',
  'UserChar7': if(payload.CreateLoanTracking.Request.UserChar7 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar7) > 40) (payload.CreateLoanTracking.Request.UserChar7[0 to 39]) else payload.CreateLoanTracking.Request.UserChar7 default '',
  'UserChar8': if(payload.CreateLoanTracking.Request.UserChar8 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar8) > 40) (payload.CreateLoanTracking.Request.UserChar8[0 to 39]) else payload.CreateLoanTracking.Request.UserChar8 default '',
  'UserChar9': if(payload.CreateLoanTracking.Request.UserChar9 == null) ('') else if(sizeOf(payload.CreateLoanTracking.Request.UserChar9) > 40) (payload.CreateLoanTracking.Request.UserChar9[0 to 39]) else payload.CreateLoanTracking.Request.UserChar9 default '',  
 
  'UserCode1': payload.CreateLoanTracking.Request.UserCode1 default 0,
  'UserCode10': payload.CreateLoanTracking.Request.UserCode10 default 0,
  'UserCode11': payload.CreateLoanTracking.Request.UserCode11 default 0,
  'UserCode12': payload.CreateLoanTracking.Request.UserCode12 default 0,
  'UserCode13': payload.CreateLoanTracking.Request.UserCode13 default 0,
  'UserCode14': payload.CreateLoanTracking.Request.UserCode14 default 0,
  'UserCode15': payload.CreateLoanTracking.Request.UserCode15 default 0,
  'UserCode16': payload.CreateLoanTracking.Request.UserCode16 default 0,
  'UserCode17': payload.CreateLoanTracking.Request.UserCode17 default 0,
  'UserCode18': payload.CreateLoanTracking.Request.UserCode18 default 0,
  'UserCode19': payload.CreateLoanTracking.Request.UserCode19 default 0,
  'UserCode2': payload.CreateLoanTracking.Request.UserCode2 default 0,
  'UserCode20': payload.CreateLoanTracking.Request.UserCode20 default 0,
  'UserCode3': payload.CreateLoanTracking.Request.UserCode3 default 0,
  'UserCode4': payload.CreateLoanTracking.Request.UserCode4 default 0,
  'UserCode5': payload.CreateLoanTracking.Request.UserCode5 default 0,
  'UserCode6': payload.CreateLoanTracking.Request.UserCode6 default 0,
  'UserCode7': payload.CreateLoanTracking.Request.UserCode7 default 0,
  'UserCode8': payload.CreateLoanTracking.Request.UserCode8 default 0,
  'UserCode9': payload.CreateLoanTracking.Request.UserCode9 default 0,  
  
  'UserDate1': payload.CreateLoanTracking.Request.UserDate1,
  'UserDate10': payload.CreateLoanTracking.Request.UserDate10,
  'UserDate11': payload.CreateLoanTracking.Request.UserDate11,
  'UserDate12': payload.CreateLoanTracking.Request.UserDate12,
  'UserDate13': payload.CreateLoanTracking.Request.UserDate13,
  'UserDate14': payload.CreateLoanTracking.Request.UserDate14,
  'UserDate15': payload.CreateLoanTracking.Request.UserDate15,
  'UserDate16': payload.CreateLoanTracking.Request.UserDate16,
  'UserDate17': payload.CreateLoanTracking.Request.UserDate17,
  'UserDate18': payload.CreateLoanTracking.Request.UserDate18,
  'UserDate19': payload.CreateLoanTracking.Request.UserDate19,
  'UserDate2': payload.CreateLoanTracking.Request.UserDate2,
  'UserDate20': payload.CreateLoanTracking.Request.UserDate20,
  'UserDate3': payload.CreateLoanTracking.Request.UserDate3,
  'UserDate4': payload.CreateLoanTracking.Request.UserDate4,
  'UserDate5': payload.CreateLoanTracking.Request.UserDate5,
  'UserDate6': payload.CreateLoanTracking.Request.UserDate6,
  'UserDate7': payload.CreateLoanTracking.Request.UserDate7,
  'UserDate8': payload.CreateLoanTracking.Request.UserDate8,
  'UserDate9': payload.CreateLoanTracking.Request.UserDate9, 
  'UserId': payload.CreateLoanTracking.Request.UserId default 800,
  
  'UserNumber1': payload.CreateLoanTracking.Request.UserNumber1 default 0,
  'UserNumber10': payload.CreateLoanTracking.Request.UserNumber10 default 0,
  'UserNumber11': payload.CreateLoanTracking.Request.UserNumber11 default 0,
  'UserNumber12': payload.CreateLoanTracking.Request.UserNumber12 default 0,
  'UserNumber13': payload.CreateLoanTracking.Request.UserNumber13 default 0,
  'UserNumber14': payload.CreateLoanTracking.Request.UserNumber14 default 0,
  'UserNumber15': payload.CreateLoanTracking.Request.UserNumber15 default 0,
  'UserNumber16': payload.CreateLoanTracking.Request.UserNumber16 default 0,
  'UserNumber17': payload.CreateLoanTracking.Request.UserNumber17 default 0,
  'UserNumber18': payload.CreateLoanTracking.Request.UserNumber18 default 0,
  'UserNumber19': payload.CreateLoanTracking.Request.UserNumber19 default 0,
  'UserNumber2': payload.CreateLoanTracking.Request.UserNumber default 0,
  'UserNumber20': payload.CreateLoanTracking.Request.UserNumber20 default 0,
  'UserNumber3': payload.CreateLoanTracking.Request.UserNumber3 default 0,
  'UserNumber4': payload.CreateLoanTracking.Request.UserNumber4 default 0,
  'UserNumber5': payload.CreateLoanTracking.Request.UserNumber5 default 0,
  'UserNumber6': payload.CreateLoanTracking.Request.UserNumber6 default 0,
  'UserNumber7': payload.CreateLoanTracking.Request.UserNumber7 default 0,
  'UserNumber8': payload.CreateLoanTracking.Request.UserNumber8 default 0,
  'UserNumber9': payload.CreateLoanTracking.Request.UserNumber9 default 0, 
  
  'UserRate1': payload.CreateLoanTracking.Request.UserRate1 default 0,
  'UserRate10': payload.CreateLoanTracking.Request.UserRate10 default 0,
  'UserRate11': payload.CreateLoanTracking.Request.UserRate11 default 0,
  'UserRate12': payload.CreateLoanTracking.Request.UserRate12 default 0,
  'UserRate13': payload.CreateLoanTracking.Request.UserRate13 default 0,
  'UserRate14': payload.CreateLoanTracking.Request.UserRate14 default 0,
  'UserRate15': payload.CreateLoanTracking.Request.UserRate15 default 0,
  'UserRate16': payload.CreateLoanTracking.Request.UserRate16 default 0,
  'UserRate17': payload.CreateLoanTracking.Request.UserRate17 default 0,
  'UserRate18': payload.CreateLoanTracking.Request.UserRate18 default 0,
  'UserRate19': payload.CreateLoanTracking.Request.UserRate19 default 0,
  'UserRate2': payload.CreateLoanTracking.Request.UserRate2 default 0,
  'UserRate20': payload.CreateLoanTracking.Request.UserRate20 default 0,
  'UserRate3': payload.CreateLoanTracking.Request.UserRate3 default 0,
  'UserRate4': payload.CreateLoanTracking.Request.UserRate4 default 0,
  'UserRate5': payload.CreateLoanTracking.Request.UserRate5 default 0,
  'UserRate6': payload.CreateLoanTracking.Request.UserRate6 default 0,
  'UserRate7': payload.CreateLoanTracking.Request.UserRate7 default 0,
  'UserRate8': payload.CreateLoanTracking.Request.UserRate8 default 0,
  'UserRate9': payload.CreateLoanTracking.Request.UserRate9 default 0,  
           
  'AccountNumber': payload.CreateLoanTracking.Request.AccountNumber,
  'LoanId': payload.CreateLoanTracking.Request.LoanId


}]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform
			doc:name="TransformPayloadToCreateLoanTrackingXML"
			doc:id="59e23171-945c-4982-b43a-c9cc963428f6">
			<ee:message>
				<ee:set-payload
					resource="dwl/createloantrackingRequest.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="POST"
			doc:name="InvokeSysLayerToMakeCreateLoanTracking"
			doc:id="e999970f-263a-4de9-a8bf-57cc4062f3a0"
			config-ref="Epysis_HTTP_Request_configuration"
			path="${secure::http.path}" responseTimeout="#[30000]">
			<reconnect />
		</http:request>
		<flow-ref doc:name="MakeCallTovalidateSoapResponseSubFlow"
			doc:id="8a57e6e3-e49c-4428-8831-e4d846574c7c"
			name="validateSoapResponseSubFlow" />
		<ee:transform doc:name="CaptureSuccessfullLoanTrackingRecords"
			doc:id="3ef84b43-d550-4ce1-baa5-4e2dd9ae0ba4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
fun formatDate(localTime: DateTime) = localTime as String{format: "MM/dd/yyyy"}
fun lookupLoanId(code) = if (code < 100 ) (code[-2 to -1]) else if (code >= 100) (code[-3 to -1]) else ('')
---
[{
	CreatedBy : "Mulesoft",
	CreatedByDate : now() as Date {format: 'yyyy-MM-dd'},
	LoanOpenDate: formatDate(now() >> 'GMT-6' ),
    MICRAccountNumber: 2 ++ lookupLoanId(vars.ParamArray.LoanId!) ++ vars.ParamArray.AccountNumber! default '',
    Key: "L-" ++ vars.ParamArray.AccountNumber!   ++ "-" ++ vars.ParamArray.LoanId! ++ "-" ++ formatDate(now() >> 'GMT-6' ) default '',
	nCinoLoanId__e: vars.salesforceloanid default null,
	nCinoApplicationId__c  : null,
	MCU_Status_Message__e : {
		
		Status: "Success",
		TransactionType: "CreateLoanTrackingService",
		TypeValue: vars.loanNameTrackingVars.TypeValue,
	    uuid: vars.uuid,
	    ErrorCause : null,
	    ErrorType: null,
	    ErrorStep: null,
	    LoanOpenDate: formatDate(now() >> 'GMT-6' ),
        CollateralType: vars.loanNameTrackingVars.CollateralType default null,
	    EpisysLoanId: vars.loanNameTrackingVars.episysLoanId default null,
	    AccountNumber : vars.loanNameTrackingVars.accountNumber default null,
	    SalesforceId : vars.loanNameTrackingVars.SalesforceId default null
	}
	
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
